@page "/"
@using System.Threading


<h1>Game</h1>
@foreach (var line in text.Value)
{
    @line<br/>
}


@code {
    public Text text { get; set; }

    protected override async Task OnInitializedAsync()
    {
        text = new Text();
        text.Run(() => InvokeAsync(StateHasChanged));
    }

}

